<div>
  <ul>
    <li><a href="#/">Home</a></li>
    <li><a href="#/post/new">Add post</a></li>
    <li ng-show="!user"><a ng-href="#/login">Sign in</a></li>
    <li ng-show="user"><a ng-controller ="UserCtrl" ng-click='signOut()'>Sign out</a></li>
    <li ng-show="!user"><a ng-href="#/registration">Register</a></li>
  </ul>
</div>
<div ng-view=""></div>