<nav class="nav nav-pills">
  <div class="constainer">
    <ul>
      <li><a href="#/">Home</a></li>
      <li ng-show="user"><a href="#/post/new">Add post</a></li>
      <li ng-show="user.role == 'admin'"><a href="#/heading/new">Add heading</a></li>

      <li ng-show="!user"><a ng-href="#/login">Sign in</a></li>
      <li ng-show="user"><a ng-controller="UserCtrl" ng-click='signOut()'>Sign out</a></li>
      <li ng-show="!user"><a ng-href="#/registration">Register</a></li>
    </ul>
  </div>
</nav>


<form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
           name="email"
           id="email"
           ng-model="loginForm.email"
           required="required"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           name="password"
           id="password"
           ng-model="loginForm.password"
           required="required"
           class="form-control">
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
</form>